.menu-bar {
    -fx-background-color: rgb(58,58,60);
}

.context-menu {
    -fx-background-color: rgb(58,58,60);
}

.context-menu . label {
    fx-background-color: rgb(58,58,60);
    -fx-text-fill: rgb(230,230,230);
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-text-fill: rgb(230,230,230);
}

.tool-bar{
    -fx-background-color: white;
}

.button {
    -fx-background-color: white;
    -fx-font-size: 10pt;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: silver;
}

.button:pressed{
    -fx-background-color: gainsboro;
}

.text-area{
    -fx-font-size: 10pt;
    -fx-text-fill: black;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.split-pane-divider {
   -fx-background-color: black;
}